/* .showFilter{

}

.HideFilter{
    
} */
.FilterHero{
    position: absolute;
    left: 500px;
}
.filter__container{
    position: absolute;
    z-index: 100;
    height: 100vh;
    background: white;
}

.hide__filter__container{
    position: absolute;

    left: -200px;
}
.show__filter__container{
    padding: 10px;
    margin: 10px;
    position: absolute;
    z-index: 100;
    
    height: 100vh;
    background: white;


    left: 0;
}